/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* TODO: REPLACE WITH YOUR OWN FONT! */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --primary: #396dff;
  --primary--dim: #6987db;
  --darkgrey: #d4d4d4;
  --medgrey: #e0e0e0;
  --white: #fff;

  --sidebar_width: 272px;
  --navbar_height: 75px;
  --background_color_secondary: #0a111f;
  --color_on_secondary: #6c7078;
  --red: #fa5460;
  --red_error: #d50000;
  --grey: #c4c4c4;
  --search_hover: rgb(79, 70, 85, 0.5);
  --button_hover: #3b404b;
  --cell_done: #cecfd2;
  --divider: rgb(19, 30, 51);
  --card_background: rgba(255, 255, 255, 0.04);

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

div.MuiDialogContent-root {
  padding: 0;
  margin: 0;
}

div.MuiDialogContent-root:first-child {
  padding: 0;
}

h1 {
  margin-top: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: white;
  background-color: var(--background_color_primary);
}

form {
  flex-grow: 1;
}

p {
  margin: 0;
  padding: 0;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}

.page-container {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
}

.page_main {
  position: relative;
  height: 100%;
  flex-grow: 1;
  z-index: 1;
  align-items: center;
  display: flex;
  padding-bottom: 60px;
  flex-direction: column;
}

.tile_box_centered {
  max-width: 1000px;
  width: 100%;
}

.top_bar {
  display: none;
}

.dummy_div_left {
  max-width: var(--sidebar_width);
  width: 25%;
  min-width: 200px;
}

.toast {
  z-index: 2;
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s visibility 0.5s;
}

.toastVisible {
  opacity: 1;
  visibility: visible;
}

.nav_page_title {
  display: none;
}

@media all and (max-width: 800px) {
  .dummy_div_left {
    display: none;
  }

  .top_bar {
    display: flex;
  }

  .page_main {
    margin-top: var(--navbar_height);
  }
}

@media all and (max-width: 800px) {
  .nav_page_title {
    display: flex;
    padding: 24px 24px 0 24px;
    font-size: 2em;
    font-weight: bold;
  }
}

@media all and (max-width: 350px) {
  :root {
    --navbar_height: 60px;
  }

  .page_main {
    overflow-x: inherit;
  }

  body {
    -webkit-text-size-adjust: none;
  }
}

.task_summary {
  color: var(--color_on_secondary);
  font-weight: 600;
}
