.Completed-toast {
  position: fixed;
  bottom: 16px;
  margin-left: calc(var(--sidebar_width) / 2);
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s visibility 0.5s;
}

.Completed-toastVisible {
  opacity: 1;
  visibility: visible;
}
