.Profile-Header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.Profile-Header-Name {
  font-size: 4em;
  color: #fa5460;
}

.Profile-Header-Stats {
  font-size: 3em;
  color: #f8f8f8;
}

.Profile-Bottom-Container {
  width: 50%;
  text-align: center;
}

.Profile-Bottom-Stats {
  font-size: 3em;
  color: #f8f8f8;
}

.Profile-PictureContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Profile-Picture {
  width: 80%;
}
