.Profile-Container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.Profile-Main {
    margin-left: var(--sidebar_width);
    position: relative;
    text-align: center;
}

.Profile-Header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4vh;
}

.Profile-Header-Name {
    font-size: 4vw;
    color: #FA5460;
}

.Profile-Header-Stats {
    font-size: 3vw;
    color: #F8F8F8;
}

.Profile-Bottom {
    display: flex;
    justify-content: left;
    padding-top: 4vh;
    padding-bottom: 1vh;
    width: 80%;
    padding-left: 10%;
}

.Profile-Bottom-Container {
    width: 50%;
    text-align: left;
}

.Profile-Bottom-Stats {
    font-size: 3vw;
    color: #F8F8F8;
}

.Profile-Picture {
    width: 80%;
}