.AddFriend-container {
  width: 100%;
}

.AddFriend-search_layout {
  margin: 24px 24px 16px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.AddFriend-searchBar {
  flex-grow: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 24px;
  flex-direction: row;
  display: flex;
}

.AddFriend-searchBar_active {
  background-color: rgba(255, 255, 255, 0.1);
}

.AddFriend-searchIcon {
  padding: 8px 16px;
}

.AddFriend-searchInput {
  flex-grow: 1;
  margin-right: 16px;
  background: transparent;
  border: none;
  text-decoration: none;
  outline: none;
  color: white;
  font-size: 1.1em;
}

.AddFriend-cancel {
  padding: 8px;
  margin-left: 8px;
}

.AddFriend-cancel_hidden {
  display: none;
}

.AddFriend-cancel:hover {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.AddFriend-suggestions {
  margin: 0 24px;
}

.AddFriend-dim_background {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  height: 100%;
  z-index: -2;
  background-color: black;
  opacity: 0.5;
}
