.card-container {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 16px;
  margin: 24px;
  display: flex;
  height: auto;
  flex-direction: row;
  align-items: center;
}

.card-title {
  font-size: 1.5em;
  font-weight: bold;
}

.challenge-button {
  height: auto;
  width: auto;
  background-color: aqua;
}

.unfriend-button {
  height: auto;
  width: auto;
  background-color: pink;
}

.accept-button {
  height: auto;
  width: auto;
  background-color: aqua;
}

.decline-button {
  height: auto;
  width: auto;
  background-color: pink;
}
