.CurrentFriends-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px;
}

.CurrentFriends-container {
  margin: 0 24px;
}

@media all and (max-width: 1300px) {
  .CurrentFriends-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (max-width: 1000px) {
  .CurrentFriends-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 450px) {
  .CurrentFriends-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
