.FriendDetailsDialog-container {
  background-color: var(--color_on_secondary);
  padding: 24px;
  width: 550px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.FriendDetailsDialog-container * {
  box-sizing: border-box;
  line-height: 1.5;
}

.FriendDetailsDialog-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 16px;
}

.FriendDetailsDialog-email {
  font-size: 0.9em;
  font-style: italic;
  color: rgb(0, 0, 0, 0.4);
}

.FriendDetailsDialog-name {
  font-size: 1.2em;
}

.FriendDetailsDialog-iconBigger {
  display: flex;
  align-items: center;
  justify-content: center;
}

.FriendDetailsDialog-iconSmaller {
  display: none;
  align-items: center;
  justify-content: center;
}

.FriendDetailsDialog-buttonsContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

.FriendDetailsDialog-button {
  padding: 8px;
  font-weight: bold;
  border-radius: 16px;
  cursor: pointer;
  width: 50%;
  outline: none;
}

.FriendDetailsDialog-buttonCancel {
  margin-right: 8px;
  border: 1px solid var(--background_color_secondary);
  background-color: transparent;
  color: var(--background_color_secondary);
}

.FriendDetailsDialog-buttonCancel:hover {
  background: rgba(0, 0, 0, 0.1);
}

.FriendDetailsDialog-buttonAction:hover {
  background-color: var(--button_hover);
}

.FriendDetailsDialog-buttonAction {
  border: none;
  background-color: var(--background_color_secondary);
  color: white;
  margin-left: 8px;
}

.FriendDetailsDialog-buttonPending {
  border: none;
  background-color: rgb(79, 70, 85, 0.3);
  color: rgb(255, 255, 255, 0.5);
  cursor: not-allowed;
  margin-left: 8px;
}

.FriendDetailsDialog-detailsContainer {
  display: flex;
  flex-direction: row;
  margin-right: 32px;
}

@media only all and (max-width: 800px) {
  .FriendDetailsDialog-container {
    display: flex;
    flex-direction: column;
    width: auto;
    display: flex;
    justify-content: space-between;
  }

  .FriendDetailsDialog-buttonsContainer {
    margin-top: 24px;
    max-width: 100%;
    width: 500px;
  }
}

@media all and (max-width: 400px) {
  .FriendDetailsDialog-details {
    margin-left: 8px;
  }

  .FriendDetailsDialog-email {
    font-size: 0.8em;
  }

  .FriendDetailsDialog-name {
    font-size: 1em;
  }

  .FriendDetailsDialog-iconSmaller {
    display: flex;
  }

  .FriendDetailsDialog-iconBigger {
    display: none;
  }

  .FriendDetailsDialog-container {
    padding: 16px 16px;
  }
}
