.GameBoard-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GameBoard-Main {
  height: 60vh;
  width: 60vw;
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  background-color: var(--card_background);
  /*background-color: #000318;*/
  position: relative;
  margin: 24px 48px;
}

.GameBoard-Bottom {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.GameBoard-Button {
  height: 10vh;
  border-radius: 20px;
  border-style: solid;
  border-color: white;
  background-color: white;
  flex-grow: 1;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.GameBoard-Text {
  font-size: 2em;
  color: #0a111f;
  text-transform: uppercase;
  font-weight: bold;
}

.GameBoard-Score {
  flex-grow: 1;
  font-size: 1.5em;
  color: #f8f8f8;
  text-transform: uppercase;
  width: 30%;
}

@media all and (max-width: 1000px) {
  .GameBoard-Text {
    font-size: 1.5em;
  }

  .GameBoard-Score {
    font-size: 1.2em;
  }
}

@media all and (max-width: 600px) {
  .GameBoard-Text {
    font-size: 1.2em;
  }

  .GameBoard-Score {
    font-size: 1em;
  }
}
