.NavBar-container {
  height: var(--navbar_height);
  position: fixed;
  flex-direction: row;
  top: 0;
  right: 0;
  overflow-x: hidden;
  left: 0;
  z-index: 2;
  justify-content: center;
  background-color: var(--background_color_secondary);
}

.NavBar-navIconContainer {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--background_color_secondary);
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.NavBar-nameContainer {
  max-width: 272px;
  width: 50%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-image: url("../../public/logo.png");
  cursor: pointer;
}

.NavBar-nameContainer:hover {
  background-image: url("../../public/logo_darker.png");
}

.NavBar-icon {
  cursor: pointer;
}

.NavBar-icon:hover {
  color: rgb(255, 255, 255, 0.5);
}

.NavBar-sideBar_hidden {
  visibility: hidden;
}

.NavBar-sideBar {
  visibility: visible;
}

.NavBar-dim_background {
  position: fixed;
  top: 0;
  right: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  background-color: black;
  opacity: 0.5;
}
