.RocketTagRoll-container {
  position: fixed;
  max-width: var(--sidebar_width);
  width: 25%;
  padding-right: 12px;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  right: 0;
  overflow: hidden;
}

.RocketTagRoll-tagBall {
  width: 150px;
  height: 150px;
  display: block;
  background-image: url("../../public/rocket_tag.png");
  background-size: cover;
  -webkit-box-shadow: -1px 1px 5px 9px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px 1px 5px 9px rgba(0, 0, 0, 0.1);
  box-shadow: -1px 1px 5px 9px rgba(0, 0, 0, 0.1);
  transition: ease-in;
  border-radius: 50%;
  animation: ball_anim 8s infinite;
}

.RocketTagRoll-tagBall:hover {
  background-image: url("../../public/rocket_tag_darker.png");
}

@keyframes ball_anim {
  0% {
    margin-top: -150%;
    transform: rotate(0deg);
  }

  17% {
    margin-top: 150%;
    transform: rotate(60deg);
  }

  34% {
    margin-top: 0;
    transform: rotate(120deg);
  }

  51% {
    margin-top: 150%;
    transform: rotate(180deg);
  }

  68% {
    margin-top: -150%;
    transform: rotate(240deg);
  }

  85% {
    margin-top: 0;
    transform: rotate(300deg);
  }

  100% {
    margin-top: -150%;
    transform: rotate(360deg);
  }
}

.RocketTagRoll-container:hover * {
  animation-play-state: paused;
  cursor: pointer;
}

.RocketTagRoll-rocketTagLabel {
  font-weight: bold;
  font-size: 1.2em;
}

@media only all and (max-height: 750px) {
  @keyframes ball_anim {
    0% {
      margin-top: -100%;
      transform: rotate(0deg);
    }

    17% {
      margin-top: 100%;
      transform: rotate(60deg);
    }

    34% {
      margin-top: 0;
      transform: rotate(120deg);
    }

    51% {
      margin-top: 100%;
      transform: rotate(180deg);
    }

    68% {
      margin-top: -100%;
      transform: rotate(240deg);
    }

    85% {
      margin-top: 0;
      transform: rotate(300deg);
    }

    100% {
      margin-top: -100%;
      transform: rotate(360deg);
    }
  }
}

@media only all and (max-height: 550px) {
  @-moz-keyframes ball_anim {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes ball_anim {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes ball_anim {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
