.SideBar-container {
  height: 100%;
  margin: 0px;
  padding: 0px;
  left: 0;
  background-color: var(--background_color_secondary);
  position: fixed;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  z-index: 1;
  -ms-text-overflow: none;
  text-overflow: scroll;
  scrollbar-width: none;
}

.SideBar-container::-webkit-scrollbar {
  display: none;
}

.SideBar-containerResponsive {
  max-width: var(--sidebar_width);
  width: 25%;
  min-width: 200px;
}

.SideBar-containerDrawer {
  width: var(--sidebar_width);
  z-index: -2;
  /* top: var(--navbar_height); */
}

.SideBar-row {
  position: relative;
  width: auto;
  height: 40px;
  background-color: var(--color_on_secondary);
  border-radius: 16px;
  margin: 24px;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.SideBar-rowSelected {
  position: relative;
  width: auto;
  height: 40px;
  background-color: white;
  border-radius: 16px;
  margin: 24px;
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: default;
}

.SideBar-row:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}

.SideBar-menus {
  padding: 0;
  margin: 0;
  height: auto;
  list-style-type: none;
}

.SideBar-button {
  margin: 16px 16px;
  border: none;
  box-shadow: none;
  text-align: center;
  border-radius: 8px !important;
  cursor: pointer;
  color: black !important;
  justify-content: center;
  padding: 10px 16px;
  mix-blend-mode: overlay;
  background-color: #c4c4c4;
  flex-shrink: 0;
  outline: none;
}

.SideBar-button:hover {
  mix-blend-mode: difference;
  background-color: aqua;
}

.SideBar-horizontalLine {
  border: 1px solid var(--divider);
  width: 100%;
  margin: 0;
}

.SideBar-signOutContainer {
  width: 100%;
  margin: 0;
  vertical-align: bottom;
  padding: 0;
  display: flex;
  margin-top: auto;
  flex-direction: column;
  flex-shrink: 0;
}

.SideBar-nameContainer {
  width: 100%;
  position: absolute;
  align-items: center;
  height: var(--navbar_height);
  display: block;
  background-size: cover;
  background-position: center;
  background-image: url("../../public/main.png");
  cursor: pointer;
}

.SideBar-name {
  visibility: hidden;
}

.SideBar-nameContainer:hover {
  background-image: url("../../public/hover.png");
}

.SideBar-username {
  color: white;
  width: auto;
  padding: 8px 16px;
}

.SideBar-usernameHidden {
  visibility: hidden;
}

.SideBar-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--navbar_height) 24px 24px 24px;
  padding: 16px 8px 8px 8px;
  flex-direction: column;
  border-radius: 8px;
  text-decoration: none;
  flex-shrink: 0;
}

.SideBar-profile:visited,
.SideBar-profile:hover,
.SideBar-profile:active {
  color: inherit;
}

.SideBar-profileSelected {
  background: rgba(255, 255, 255, 0.05);
  color: inherit;
}

.SideBar-profile:hover {
  background: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

.SideBar-divider {
  border: 1px solid var(--divider);
  margin: 0 24px;
}

.SideBar-usericon {
  height: 100px;
  width: 100px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}

.SideBar-notifications {
  position: absolute;
  right: 8px;
  width: 1.5em;
  height: 1.5em;
  background-color: var(--red);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
}

.SideBar-notificationsHidden {
  visibility: hidden;
}

.SideBar-notificationsUpdate {
  animation: leftRight 0.25s 4;
}

@keyframes leftRight {
  0% {
    margin-left: 0;
  }

  50% {
    margin-right: 8px;
  }

  100% {
    margin-left: 0;
  }
}

.SideBar-buttonLabel {
  color: black;
}

.SideBar-tagBall {
  width: 200px;
  height: 200px;
  display: block;
  background-image: url("../../public/rocket.png");
  background-size: cover;
  transition: ease-in;
  border-radius: 50%;
  cursor: pointer;
  animation-play-state: paused;
}

@keyframes rotateBall {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.SideBar-tagBall:hover {
  opacity: 0.8;
  animation: rotateBall 8s linear infinite;
}

.SideBar-rocketTag {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  justify-content: center;
  padding: 32px 0;
}

@media all and (max-width: 800px) {
  .SideBar-containerResponsive {
    display: none;
  }

  .SideBar-containerDrawer {
    width: var(--sidebar_width);
    z-index: -2;
    left: calc(-1 * var(--sidebar_width));
    animation: slide_in 0.5s forwards;
    animation-delay: 0.1s;
  }

  @keyframes slide_in {
    100% {
      left: 0;
    }
  }
}
