.SideBar-container {
  height: 100%;
  width: var(--sidebar_width);
  margin: 0px;
  padding: 0px;
  background-color: var(--background_color_secondary);
  position: fixed;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.SideBar-row {
  position: relative;
  width: auto;
  height: 40px;
  mix-blend-mode: hard-light;
  background-color: #c4c4c4;
  border-radius: 16px;
  margin: 24px;
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.selected {
  mix-blend-mode: normal;
  background-color: white;
}

.SideBar-row:hover {
  cursor: pointer;
  mix-blend-mode: unset;
  /* background-color: #e2e2e2; */
}

.SideBar-menus {
  padding: 0;
  margin: 0;
  height: auto;
  list-style-type: none;
}

.SideBar-button {
  margin: 16px 16px;
  border: none;
  box-shadow: none;
  text-align: center;
  border-radius: 8px !important;
  cursor: pointer;
  color: black !important;
  justify-content: center;
  padding: 10px 16px;
  mix-blend-mode: hard-light;
  background-color: #c4c4c4;
  outline: none;
}

.SideBar-button:hover {
  mix-blend-mode: normal;
  background-color: white;
}

.SideBar-horizontalLine {
  width: 100%;
  margin: 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.SideBar-signOutContainer {
  width: 100%;
  margin: 0;
  vertical-align: bottom;
  padding: 0;
  display: flex;
  margin-top: auto;
  flex-direction: column;
  mix-blend-mode: overlay;
}

.SideBar-nameContainer {
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-size: cover;
  background-position: center;
  background-image: url("../../public/logo.png");
  transition: background 0.25s ease-in-out;
  /* background: rgba(0, 0, 0, 0.15); */
  cursor: pointer;
}

.SideBar-nameContainer:hover {
  background-image: url("../../public/logo_darker.png");
}

.SideBar-username {
  color: white;
  width: auto;
  padding: 8px 16px;
}

.SideBar-usernameHidden {
  visibility: hidden;
}

.SideBar-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 24px 24px 24px;
  padding: 8px;
  flex-direction: column;
  border-radius: 8px;
  text-decoration: none;
}

.SideBar-profile:visited,
.SideBar-profile:hover,
.SideBar-profile:active {
  color: inherit;
}

.SideBar-profileSelected {
  background: rgba(0, 0, 0, 0.1);
  mix-blend-mode: normal;
  color: inherit;
}

.SideBar-profile:hover {
  background: rgba(0, 0, 0, 0.1);
  mix-blend-mode: normal;
  cursor: pointer;
}

.SideBar-divider {
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0 24px;
  mix-blend-mode: overlay;
}

.SideBar-notifications {
  position: absolute;
  right: 8px;
  width: 1.5em;
  height: 1.5em;
  background-color: #fa5460;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
}

.SideBar-notificationsHidden {
  visibility: hidden;
  /* animation: leftRight 0.25s infinite; */
}

.SideBar-notificationsUpdate {
  animation: leftRight 0.25s 4;
}

@keyframes leftRight {
  0% {
    margin-left: 0;
  }

  50% {
    margin-right: 8px;
  }

  100% {
    margin-left: 0;
  }
}

.SideBar-buttonLabel {
  color: black;
}
